{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
    <section>
    <footer class="page-footer" style="background-color: #14213D">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="amber-text text-darken-2">Challenge App</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Julio Briones</h5>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <span class="center-align">© 2021</span>
                </div>
            </div>
          </div>
        </footer>
    </section>
{% endblock %}
