{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="card indigo lighten-4" style="border-radius: 15px">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h3 class="center-align">Reseteo de contraseña enviado</h3>

                                    <p>Le hemos enviado por email instrucciones para resetear su contraseña, si
                                        es que la cuenta que proveyó existe.
                                    </p>
                                    <p style="margin-top: 10px">
                                        Si no recibe el correo, por favor verifique la dirección o revise su carpeta
                                        de correo no deseado.
                                    </p>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
