{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="card indigo lighten-4" style="border-radius: 15px">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h3 class="center-align">Reseteo de contraseña exitoso!</h3>

                                    <p class="center-align">Su contraseña se ha restablecido, ya puede ingresar.</p>
                                    <div class="center-align" style="margin-top: 10px">
                                        <a href="{% url 'accounts:login-page' %}">Ingresar</a>
                                    </div>

                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
