{% extends "accounts/base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="card indigo lighten-4" style="border-radius: 15px">
                        <div class="card-content">
                            <h4 class="center-align indigo-text text-darken-4">Resetear Contraseña</h4>
                            <div class="row">
                                <div class="col s12">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            {{ field }}
                                            {{ field.label }}
                                        {% endfor %}
                                        <input
                                                type="submit"
                                                class="btn btn-block indigo darken-4"
                                                value="Restablecer"
                                                style="width: 100%; border-radius: 20px"
                                        >

                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
