body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e5e5e5;
}
#login-section {
    margin-top: 10%;
}

#register-section {
    margin-top: 10%;
}

nav ul li:hover {
    background-color: #e5e5e5;
}

